<div class="container w-100">
<div class="row w-100 mt-5">
<div class="col-md-12">
<h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!!!</h1>
</div>
</div>
<div class="row w-100 mt-4 mb-4">
    <div class="col=col-md-12">
        <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Explicabo eaque modi maiores corporis, nam, dolore minima
              libero velit error nobis unde? Dolore quae magnam harum sit tempore iure repellendus nulla.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum repudiandae minima velit fugiat distinctio 
            neque sed? Laborum magni quam voluptatem iure sint minima animi totam,
             placeat et nemo unde excepturi?</p>
    </div>
</div>
</div>
 <div class="parallax"></div>

 <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>

